<div fxLayout="column" fxFlex  >
        
    <mat-sidenav-container fxFlex> 
        <mat-sidenav #mainSideNav mode="side" opened >
                <mat-toolbar>
                        <img src="../assets/logo.png" style="height:80%"> {{appName}}
                    </mat-toolbar>


                    <mat-list>
                            <a  
                            md-list-item
                            md-ripple
                            [style.position]="'relative'"
                            routerLinkActive="selected"
                             >
                             <!--<md-icon *ngIf="navItem.icon">{{navItem.icon}}</md-icon>-->
                             <span>we </span>
                         </a>
                            <mat-list-item   > Pepper </mat-list-item>
                            <mat-list-item> Salt </mat-list-item>
                            <mat-list-item> Paprika </mat-list-item>
                    </mat-list>
        </mat-sidenav>
        <mat-sidenav-content>
            <mat-toolbar color="primary"> 
                    <mat-icon>home</mat-icon>
            </mat-toolbar> 
        </mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-container>

</div>
